h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: red;
}

h3, h4, p {
  font-family: 'Montserrat', sans-serif;
}

a.task-board {
  text-decoration: none !important;
  color: #751C5C;
  font-size: 16px;
}

.img-logo {
  width: 300px;
  height: auto;
}

.hide-massage {
  display: none;
}

#progress-bar {
  visibility: hidden;
}

.navigation {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background: #303030; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(0deg, #000004, #545454); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(0deg, #000004, #545454); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(0deg, #000004, #545454); /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, #000004, #545454); /* Standard syntax (must be last) */
  color: white;
}

.span-image {
  font-size: 14px;
  color: #DADADA;
}

.span-page {
  font-size: 20px;
  color: #DADADA;
}

.nav--button-image {
  padding: 8px;
}

.navigation-button {
  padding: 5px 10px 3px 10px;
  border-radius: 7px;
  background-color: #202020;
  box-shadow: inset 0 0 0 1px #000000,0 5px 15px #000000;
  border: none;
  text-shadow: 0 0 3px #fff;
}

.navigation-button-page {
  padding: 10px 7px 10px 7px;
  border-radius: 7px;
  background-color: #202020;
  box-shadow: inset 0 0 0 1px #000000,0 5px 15px #000000;
  border: none;
  text-shadow: 0 0 3px #fff;
}

.navigation-text-sm {
  margin: 5px 0px 5px 0px;
  font-size: 10px;
  color: #AAAAAD
}

.navigation-text-normal {
  margin: 5px 0px 5px 0px;
  font-size: 15px;
  color: #DADADA;
}

#pageLabel {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.no-padding {
  padding: 5px 15px 0px 5px;
}

.navbar-log {
  width: 90px;
  height: auto;
}

.nav--padding {
  padding: 10px;
}




.adon-width {
  width: 30px;
}

.center {
  text-align: center;
}

.panel-title {
  font-size: 18px;
}

.jumbotron {
  background-color: #F8F8F8;
  padding-left: 30px;
  padding-right: 30px;
  padding: 15px;
}

.mini-jumbotron {
  padding: 15px !important;
}

.login-from {
  margin: auto;
  width: 40% !important;
}

.scrollbox {
  width: 100%;
  height: 90%;
  padding: 5px;
  border: 1px solid #DDD;
  overflow:auto;
}

.full-height {
  height: 100%;
}

.tiff-image {
  width: 100%;

  height: auto;
}

#righ-float-button{
  float: right;
}


.small {
  max-width: 180px;
}

.fix-width-7p {
  width: 70%;
}

.small-text {
  font-size: 10px;
  color: #B73398;
}

.link {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
  color: #947133;
}

.newUserLabel {
  text-align: left;
  margin: 5px;
  font-weight: 300;
}

.panel-heading {
  padding: 10px 0px 0px 0px !important;
}

.message {
  font-size: 15px !important;
  margin-bottom: 0px;
}
.message-box {
  padding: 10px 20px;
}

.board-task-box {
  padding: 10px;
}

.task .btn {
  display:inline;
}

.left-padding {
  padding-left: 10px;
}

#dev-add-task {
  margin: 0 auto;
  width:700px;
  text-align: center;
}

.panel-heading {
  text-align: center;
}

.des-text {
  height: 220px;
}

.board-task {
  margin: 5px;
}

.inline {
  float: left;

}

.float-left {
  float: left;

}

.italic {
  font-style: italic;

/* unvisited link */
a.storyLink:link {
    color: #476674;
}

/* visited link */
a.storyLink:visited {
    color: #476674;
}

/* mouse over link */
a.storyLink:hover {
    color: #CCCCCC;
}

/* unvisited link */
a.taskLink:link {
    color: #6B8D9C;
}

/* visited link */
a.taskLink:visited {
    color: #6B8D9C;
}

/* mouse over link */
a.taskLink:hover {
    color: #CCCCCC;
}

.homePage {
  display: flex;
  align-items: center;
}
