<!DOCTYPE html>
<html>
  <head>
    <title>KeyVue</title>
    <link rel="icon" href="/assets/logo.gif">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald|Montserrat|Fjalla+One|Indie+Flower' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/seikichi/tiff.js/master/tiff.min.js"></script>
    <script src="js/bootstrap-treeview.js"></script>
    <script src="js/jquery.fileDownload.js"></script>
    <script src="js/ui.js"></script>
  </head>
  <body>
    <div class="container">
      <br>
        #parse($template)
    </div>
  </body>
</html>
